<template>
    {%raw%}
    <q-dialog v-model="booking.show" @hide="formReset()" persistent>
      <q-card class="lnbits__dialog-card relative">
              <q-toolbar>
                  <q-avatar>
                      <q-btn flat round dense icon="event_available" />
                  </q-avatar>
                  <q-toolbar-title class="text-center"><span class="text-weight-bold">{{booking.title}}</span></q-toolbar-title>
                  <q-btn flat round dense icon="close" v-close-popup />
              </q-toolbar>
            <q-card-section>
            <div
                v-if="booking.total"
                class="text-center q-pb-lg row justify-between items-center no-wrap" 
                style="font-size:2rem; width: 100%;"
                >
                <q-img :src="booking.img || img_default" style="width: 80px; height:auto;  max-height:60px; border-radius:10px;"></q-img>
                <span class="wrap">{{booking.total}}</span>
              
              </div>
            <div
                v-else
                class="text-center q-pb-lg column justify-between items-center no-wrap" 
                style="font-size:1.5rem; width: 100%;"
                >
                <q-img :src="booking.img || img_default" style="width: 80px; height:auto;  max-height:60px; border-radius:10px;"></q-img>
                <span class="wrap q-mt-sm">@{{booking.business_name}}</span>
              
              </div>
              <div :class="($q.dark.isActive) ? 'dark_color_correct q-pa-sm rounded-borders row items-center q-mb-md no-wrap' : 'bg-grey-2 q-pa-sm rounded-borders row items-center q-mb-md no-wrap'">
                <div class="column items-start q-mr-md col-2">
                  <q-btn icon="event" round color="purple" :disabled="booking.btn">
                    <q-popup-proxy
                      @before-show="updateProxy"
                      transition-show="scale"
                      transition-hide="scale"
                      :breakpoint="1200">
                      <q-date
                        v-model="booking.proxyDate"
                        range
                        multiple
                        :options="dateOptions"
                        color="deep-purple"
                        >
                        <div class="row items-center justify-end q-gutter-sm">
                          <q-btn label="Cancel" color="primary" flat v-close-popup @click="booking.datePicked = false; booking.total = ''"/></q-btn>
                          <q-btn label="OK" color="primary" flat @click="save" v-close-popup /></q-btn>
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-btn>
                
                </div>
                  <span v-if="booking.date.length" class="wrap justify-center col-10 text-center q-pr-md" ><strong style="font-size:1rem; width:100%;">{{dateDisplay}}</strong></span>
                  <span v-if="booking.btn" class="col-8 text-center" ><strong style="font-size:1.4rem;">Checking dates...</strong></span>
                  <span v-else v-show="!booking.date.length" class="col-8 text-center" ><strong style="font-size:1.4rem;">Select Date</strong></span>
              </div>
              <q-form @submit="submitForm($event)" v-if="booking.datePicked" class="q-gutter-md q-mt-md">
                {%endraw%}
                {% include "bookings/partials/_booking_details.html" %}
                {%raw%}
                  <div class="row q-mt-lg">
                    <q-btn
                    class="text-capitalize"
                    v-if="isSubmitting"
                    unelevated
                    color="deep-purple"
                    >creating invoice
                    <q-spinner
                      class="q-ml-md"
                      color="white"
                      size="1rem"
                    />
                    </q-btn>
                    <q-btn
                    v-else
                      unelevated
                      color="deep-purple"
                      :disable="
                          form.data.name == null ||
                          form.data.email == null ||
                          !/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/.test(form.data.email) ||
                          booking.booking_item == 'table' && form.data.acca == null
                          "
                      type="submit"
                      >Book {{booking.booking_item}}</q-btn>
                    <q-btn v-close-popup flat color="grey" class="q-ml-auto">Cancel</q-btn>
                  </div>
                </q-form>
            </q-card-section>
            <div class="qr-code-card inset-shadow-down" v-show="showQr">
              <div class="relative column justify-center" style="height: 100%;" v-show="!booking.payment_success">
                  <q-responsive
                    @click="copyToClip('lnurl')"
                    :ratio="1"
                    style="width:150px; height:150px; left:0; right:0; margin:0 auto;"
                    >
                    <qrcode
                      @click="alert(booking.payment_request)"
                      style="border-radius: 5px;"
                      v-if="showQr"
                      :value="booking.payment_request"
                      class="rounded cursor-pointer"
                    ></qrcode>
                  </q-responsive>
                  <span class="text-center q-pa-sm q-mb-sm">Powered by <strong>LN</strong>bits</span>
                  <span class="text-h4 text-center q-pa-sm">{{formatSats}} sat</span>
                    <div class="absolute q-pa-md row justify-center" style="bottom:0; width:100%;" >
                      <q-btn round elevated icon="cancel" @click="confirm({ok:'deleteBkEvent',id:cus_id, title:'Cancel Booking', msg:'This will delete the current booking!'})"></q-btn>
                    </div>
              </div>
              <div
                class="relative column justify-center items-center"
                style="height: 100%;"
                v-show="booking.payment_success"
                transition="scale"
                >
                    <q-img
                    :v-show="booking.payment_success"
                    src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png"
                    style="width: 80px;"
                    transition="rotate"
                    :ratio="1"
                    basic
                    class="rounded-borders"
                  ></q-img>
                  <span class="text-h6 text-center q-pa-sm">Payment Success</span>
                  <span class="text-h5 text-center q-pa-sm">{{formatSats}} sat</span>
                  <span class="text-center q-pa-sm text-capitalize">{{booking.booking_item}} booked @{{booking.business_name}}</span>
                  <span class="q-pa-sm q-mt-xl"> <q-btn round elevated icon="content_copy" class="q-mr-sm" @click="copyToClip('evt_url')"></q-btn>Copy booking link</span>
                  <div class="absolute q-pa-md row justify-center" style="bottom:0; width:100%;" >
                    <q-btn round elevated icon="cancel" v-close-popup></q-btn>
                  </div>
                </div>
            </div>
      </q-card>
    </q-dialog>
      {%endraw%}
</template>
