<template>
    <q-dialog v-model="gallery.show" @hide="gallery.slide=1">
        <q-card class="my-carousel q-pa-md" style="transform: rotate(1deg);">
            {%raw%}
            
            <q-toolbar>
                <q-avatar>
                    <q-btn flat round dense icon="photo" />
                </q-avatar>
                <q-toolbar-title style="text-overflow: unset !important; text-align: center;"><span class="text-weight-bold" style="white-space:normal;">{{gallery.business_name}} Gallery</span></q-toolbar-title>
                <q-btn flat round dense icon="close" v-close-popup />
              </q-toolbar>
            {%endraw%}
            <q-carousel
                swipeable
                animated
                v-model="gallery.slide"
                thumbnails
                infinite
            >
                <q-carousel-slide
                    v-for="(image, index ) in gallery.images"
                    :key="index+1"
                    class="caro-img"
                    :name="index+1"
                    :img-src="image"
                  />
            </q-carousel>
        </q-card>
    </q-dialog>
  </template>