<q-input
    v-if="form.data?.id"
    filled
    dense
    v-model.trim="form.data.id"
    type="text"
    label="ID"
    class="no-pointer-events"
></q-input>
<q-select
    filled
    dense
    emit-value
    v-model="form.data.wallet"
    :options="g.user.walletOptions"
    label="Wallet *"
    >
    </q-select>
    <div class="row justify-between">
        <q-input
        class="col-6 q-pr-sm"
        filled
        dense
        v-model.trim="form.data.business_name"
        type="text"
        label="Business Name"
    ></q-input>
        <q-input
        class="col-6"
        filled
        dense
        v-model.trim="form.data.title"
        type="text"
        label="Title *"
    ></q-input>
    </div>
    <q-input
    filled
    dense
    v-model.trim="form.data.description"
    type="text"
    label="Description *"
></q-input>
<div class="row justify-between">
    <q-input
    class="col-4 q-pr-sm"
    filled
    dense
    v-model.trim="form.data.min_persons"
    type="number"
    label="Min Persons"
></q-input>
    <q-input
    class="col-4 q-pr-sm"
    filled
    dense
    v-model.trim="form.data.max_persons"
    type="number"
    label="Max Persons"
></q-input>
<q-input
    class="col-4"
    filled
    dense
    v-model.trim="form.data.acca"
    type="number"
    label="Rooms *"
></q-input>
</div>
<div class="row justify-between">
    <q-input
    class="col-8 q-pr-sm"
    filled
    dense
    v-model.trim="form.data.location"
    type="text"
    label="Location"
    ></q-input>
    <q-select
    class="col-4"
    filled
    dense
    emit-value
    options-cover
    transition-show="scale"
    transition-hide="scale"
    v-model="form.data.currency"
    :options="form.currRates"
    label="Currency"
    >
</div>
<div class="row justify-between">
    <q-input
    class="col-6 q-pr-sm"
    filled
    dense
    v-model.trim="form.data.price"
    type="number"
    label="Price"
></q-input>
    <q-input
    class="col-6"
    filled
    dense
    v-model.trim="form.data.deposit"
    type="number"
    label="Deposit"
></q-input>
    
</div>
<div class="row justify-between">
    <q-select
        class="col-5 q-pr-sm"
        filled
        dense
        emit-label
        transition-show="flip-up"
        transition-hide="flip-down"
        v-model="form.data.multi_days"
        :options="[{label:'true', value: 1},{label: 'false',value: 0}]"
        label="Muli booking days"
        ></q-select>
        <q-select
        class="col-7"
        filled
        dense
        emit-label
        transition-show="flip-up"
        transition-hide="flip-down"
        v-model="form.data.charge_type"
        :options="['room','person']"
        label="per room / person"
    ></q-select>
</div>
<div :class="($q.dark.isActive) ? 'dark_color_correct q-pa-sm rounded-borders row items-center' : 'bg-grey-2 q-pa-sm rounded-borders row items-center'"
>
  {%raw%}
  <div class="column items-center col-2">
    <q-btn icon="event" round color="deep-purple">
      <q-popup-proxy
        @before-show="updateProxy('exclude')"
        transition-show="scale"
        transition-hide="scale"
        :breakpoint="1200">
        <q-date v-model="form.data.exproxyDate" color="deep-purple" multiple :options="dateOptions">
          <div class="row items-center justify-end q-gutter-sm">
            <q-btn label="Cancel/Delete" color="primary" flat v-close-popup @click="form.data.exdate = []" /></q-btn>
            <q-btn label="OK" color="primary" flat @click="save('exclude')" v-close-popup /></q-btn>
          </div>
        </q-date>
      </q-popup-proxy>
    </q-btn>
  </div>
  <span v-if="form.data.exdate?.length" class="wrap justify-center col-10 text-center q-px-sm" ><strong style="font-size:1rem; width:100%;">{{exdateDisplay}}</strong></span>
  <span v-else class="col-8 text-center" ><strong style="font-size:1.4rem;">Exclude Dates</strong></span>
  {%endraw%}
</div>  
    <q-input
    filled
    dense
    autogrow
    v-model.trim="form.data.img_url"
    type="text"
    label="Background Images"
    ></q-input>
    <q-input
    v-model.trim="form.data.info_text"
    filled
    dense
    autogrow
    type="text"
    label="Info Text"
    /></q-input>
    <q-input
    v-model.trim="form.data.info_iframe"
    filled
    dense
    autogrow
    type="text"
    label="Info iframe links"
    /></q-input>