<q-input
    v-if="form.data?.id"
    filled
    dense
    v-model.trim="form.data.id"
    type="text"
    label="ID"
    class="no-pointer-events"
></q-input>
<q-select
    filled
    dense
    emit-value
    v-model="form.data.wallet"
    :options="g.user.walletOptions"
    label="Wallet *"
    >
    </q-select>
    <div class="row justify-between">
        <q-input
        class="col-6 q-pr-sm"
        filled
        dense
        v-model.trim="form.data.business_name"
        type="text"
        label="Business Name"
    ></q-input>
        <q-input
        class="col-6"
        filled
        dense
        v-model.trim="form.data.title"
        type="text"
        label="Title *"
    ></q-input>
    </div>
    <q-input
    filled
    dense
    v-model.trim="form.data.description"
    type="text"
    label="Description *"
></q-input>
<div class="row justify-between">
    <q-input
    class="col-4 q-pr-sm"
    filled
    dense
    v-model.trim="form.data.min_persons"
    type="number"
    label="Min Persons"
></q-input>
    <q-input
    class="col-4 q-pr-sm"
    filled
    dense
    v-model.trim="form.data.max_persons"
    type="number"
    label="Max Persons"
></q-input>
<q-input
    class="col-4"
    filled
    dense
    v-model.trim="form.data.acca"
    type="number"
    label="Rooms *"
></q-input>
</div>
<div class="row justify-between">
    <q-input
    class="col-8 q-pr-sm"
    filled
    dense
    v-model.trim="form.data.location"
    type="text"
    label="Location"
    ></q-input>
    <q-select
    class="col-4"
    filled
    dense
    emit-value
    options-cover
    transition-show="scale"
    transition-hide="scale"
    v-model="form.data.currency"
    :options="form.currRates"
    label="Currency"
    >
</div>
<div class="row justify-between">
    <q-input
    class="col-6 q-pr-sm"
    filled
    dense
    v-model.trim="form.data.price"
    type="number"
    label="Price"
></q-input>
    <q-input
    class="col-6"
    filled
    dense
    v-model.trim="form.data.deposit"
    type="number"
    label="Deposit"
></q-input>
    
</div>
<div class="row justify-between">
    <q-select
        class="col-5 q-pr-sm"
        filled
        dense
        emit-label
        transition-show="flip-up"
        transition-hide="flip-down"
        v-model="form.data.multi_days"
        :options="[{label:'true', value: 1},{label: 'false',value: 0}]"
        label="Muli booking days"
        ></q-select>
        <q-select
        class="col-7"
        filled
        dense
        emit-label
        transition-show="flip-up"
        transition-hide="flip-down"
        v-model="form.data.charge_type"
        :options="['room','person']"
        label="per room / person"
    ></q-select>
</div>
    <q-input
    filled
    dense
    autogrow
    v-model.trim="form.data.img_url"
    type="text"
    label="Background Images"
    ></q-input>
    <q-input
    v-model.trim="form.data.info_text"
    filled
    dense
    autogrow
    type="text"
    label="Info Text"
    /></q-input>
    <q-input
    v-model.trim="form.data.info_iframe"
    filled
    dense
    autogrow
    type="text"
    label="Info iframe links"
    /></q-input>