{% extends "public.html" %}{% from "macros.jinja" import window_vars with context
%}
{% block page %}
<template>
    {%raw%}
    <span v-if="event.data.length" class="row justify-center q-mb-sm bookmark"><q-btn outine icon="bookmark" label="bookmark page" @click="bookmark('top')"></q-btn></span>
    <div class="q-pa-md q-gutter-md row justify-center my-card-con">
        <q-card class="my-card" v-for="event in event.data">
            <q-img
             :src="event.data?.img || 'https://picsum.photos/400'"
              basic
            >
              <div class="absolute-bottom text-h6 text-center" style="backdrop-filter: blur(2px);">
                {{event.data?.title || 'Booking Event'}} @{{event.data?.business_name || 'a great place'}}
              </div>
            </q-img>
      
            <q-card-section class="my-card-section">
                <div class="q-pa-md text-center text-h5 text-bold" style="font-family: Montserrat;">{{dateFormat(event.date)}}</div>
                <div class="q-pa-xs text-center">{{event.data.email}}</div>
              <div class="row justify-center q-mt-lg">
                  <q-btn
                  v-show="bookingExpired(event.date)"
                  outline
                  label="delete booking"
                  @click="confirm({ok:'deleteEvent', id: event.id, title:'Delete Event', msg:'Do you want to delete your booking?'})"
                ></q-btn>
                <div v-show="!bookingExpired(event.date)">
                  <q-form @submit="ratingSubmit({item_id: event.data.item_id, id: event.id})" class="q-gutter-md column items-center justify-center">
                    <q-separator></q-separator>
                    <span>Feedback Rating</span>
                    <q-rating
                      v-model="form.data.stars"
                      max="5"
                      size="3.5em"
                      color="purple"
                      icon-selected="star"
                      dimming
                    /></q-rating>
                    
                    <q-btn label="Submit" type="submit" color="deep-purple" class="q-mt-lg"/></q-btn>
                  </q-form>
                </div>
              </div>
            </q-card-section>
          </q-card>
            <!-- no event data -->
          <q-card class="my-card" v-if="!event.data.length">
            <q-img
             src="https://picsum.photos/400"
              basic
            >
              <div class="absolute-bottom text-h6 text-center" style="backdrop-filter: blur(2px);">
                No current booking events
              </div>
            </q-img>
      
            <q-card-section class="my-card-section text-center">
                <a
                  href="https://github.com/lnbits/lnbits"
                  target="_blank"
                  class="text-center text-primary"
                  style="text-decoration: none;"
                  >
                    <q-icon
                  name="flash_on"
                  style="font-size: 1.4em;"
                  :class="($q.dark.isActive) ? 'text-grey-7' : 'text-grey-5'"
                  ></q-icon>
                  Powered by <strong>LN</strong>bits
                </a>
                    
            </q-card-section>
          </q-card>
    </div>
    {%endraw%}
    <q-dialog v-model="book" :position="position">
        <q-card style="width: 350px">
          <q-card-section class="row items-center no-wrap">
              <div class="text-weight-bold text-center">Press Ctrl + D to bookmark this page.</div>
          </q-card-section>
        </q-card>
      </q-dialog>
</template>
{% endblock %} 
{% block scripts %}
<style>
     @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
    .my-card{
        max-width:400px;
        min-width: 400px;
    }
    .my-card .q-img{
        max-height: 200px;
    }
    @media(max-width:550px){
        .my-card{
            min-width: 350px;
            width: 100vw !important;
            /* width:100vw; */
        }
        .my-card-con{
            padding:1px;
        }
        .bookmark{
            margin-top:-12px;
        }
    }
</style>
<script src="../static/js/event_edit.js"></script>
{% endblock %}