{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%}{% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-7 q-gutter-y-md">
    {% include "bookings/partials/_create_booking.html" %} 
  </div>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}

<script src="static/js/app.js" defer></script>
<script src="static/js/index.js" defer></script>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
  .dark_color_correct{
    background-color: #414453!important;
  }
</style>
{% endblock %}
